*{
  padding: 0;
  margin: 0;
  border: 0;
}

/*Header*/
#headerWrapper{
  height: 15vh;
  overflow: hidden;
}
	#pageBrand{
	  display: relative;
	}
	#pageBrand:hover{
	  cursor: default;
	}
	#pageBrand h1{
	  display: absolute;
	  padding-top: 10vh;
	  transform: translate(10%, -50%);
	  font-family: 'Exo 2', sans-serif;
	}

/*Content*/
#contentWrapper{
  min-height: 80vh;
  overflow: hidden;
  white-space: nowrap;
}	
	/*Left*/
	#leftWrapper{
	  min-height: 85vh;
	  width: 10vw;
	  position: relative;
	  float: left;
	  display: inline;
	  overflow: hidden;
	}
		#mainMenu{
		  list-style: none;
		}
		#mainMenu li {
		  height: 10vh;
		  padding-top: 10vh;
		  padding-bottom: 5vh;
		  white-space: nowrap;
		  
		}
		.menuLabel{
		  font-size: 10px;
		  text-align: center;
		  min-width: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		  border-bottom: 1px solid black;
		  
		  -webkit-transform: translateX(100%);
		  -moz-transform: translateX(100%);
		  -ms-transform: translateX(100%);
		  -o-transform: translateX(100%);
		  transform: translateX(100%);
		  transition: .75s;
		}
		.menuLabel.expanded{
		  -webkit-transform: translateX(0%);
		  -moz-transform: translateX(0%);
		  -ms-transform: translateX(0%);
		  -o-transform: translateX(0%);
		  transform: translateX(0%);
		  cursor: default;
		}
		.menuButton{
		  float: right;
		}
		.menuButton.defaultAnimation{
		  -webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
		  -moz-animation: 1600ms pulsate infinite alternate ease-in-out;
		  -ms-animation: 1600ms pulsate infinite alternate ease-in-out;
		  -o-animation: 1600ms pulsate infinite alternate ease-in-out;
		  animation: 1600ms pulsate infinite alternate ease-in-out;
		
		  -webkit-animation-delay:.5s;
		  -moz-animation-delay:.5s;
		  -ms-animation-delay:.5s;
		  -o-animation-delay:.5s;
		  animation-dely:.5s;
		}
			@keyframes pulsate {
			  0% { transform: scale(1); }
			  50% { transform: scale(1.1); }
			  100% { transform: scale(1); }
			}
			@-webkit-keyframes pulsate {
			  0% { -webkit-transform: scale(1); }
			  50% { -webkit-transform: scale(1.1); }
			  100% { -webkit-transform: scale(1); }
			}
			@-moz-keyframes pulsate {
			  0% { -moz-transform: scale(1); }
			  50% { -moz-transform: scale(1.1); }
			  100% { -moz-transform: scale(1); }  
			}
			@-ms-keyframes pulsate {
			  0% { -ms-transform: scale(1); }
			  50% { -ms-transform: scale(1.1); }
			  100% { -ms-transform: scale(1); }  
			}
			@-o-keyframes pulsate {
			  0% { -o-transform: scale(1); }
			  50% { -o-transform: scale(1.1); }
			  100% { -o-transform: scale(1); }  
			}

		.menuButton.activated{
			  -webkit-animation: spin 6s linear 0s infinite reverse;
			  -moz-animation: spin 6s linear 0s infinite reverse;
			  -ms-animation: spin 6s linear 0s infinite reverse;
			  -o-animation: spin 6s linear 0s infinite reverse;
			  animation: spin 6s linear 0s infinite reverse;
			  
			  -webkit-animation-play-state: play;
			  -moz-animation-play-state: play;
			  -ms-animation-play-state: play;
			  -o-animation-play-state: play;  
			  animation-play-state: play;
		}
			@keyframes spin {
			  0% { transform: rotate(360deg); }
			  100% { transform: rotate(0deg); }
			}
			@-webkit-keyframes spin {
			  0% {-webkit-transform: rotate(360deg); }
			  100% { -webkit-transform: rotate(0deg); }
			}
			@-ms-keyframes spin {
			  0% {-ms-transform: rotate(360deg); }
			  100% { -ms-transform: rotate(0deg); }
			}
			@-moz-keyframes spin {
			  0% { -moz-transform: rotate(360deg); }
			  100% { -moz-transform: rotate(0deg); }
			}
			@-o-keyframes spin {
			  0% { -o-transform: rotate(360deg); }
			  100% { -o-transform: rotate(0deg); }
			}
		
		span{
		  font-size: 3vh;
		}
		
	/*Center*/
	#centerWrapper{
	  min-height: 85vh;
	  padding-left: 0;
	  padding-right: 0;
	  position: relative;
	  float: left;
	  min-width: 80vw;
	  display: inline;
	}
	#centerWrapper div ul{
	  background: red;
	  background: url('img/sand3.png');
	  background-repeat: repeat;
	  background-position: center;
	  background-size: cover;
	  overflow: hidden;
	}
		.arrowUp{
		  -webkit-animation: 1100ms bounceup infinite alternate linear;
		  -moz-animation: 1100ms bounceup infinite alternate linear;
		  -ms-animation: 1100ms bounceup infinite alternate linear;
		  -o-animation: 1100ms bounceup infinite alternate linear;
		  animation: 1100ms bounceup infinite alternate linear;
		  background: white;
		}
		.arrowDown{
		  -webkit-animation: 1100ms bounce infinite alternate linear;
		  -moz-animation: 1100ms bounce infinite alternate linear;
		  -ms-animation: 1100ms bounce infinite alternate linear;
		  -o-animation: 1100ms bounce infinite alternate linear;
		  animation: 1100ms bounce infinite alternate linear;
		  background: white;
		}
		@keyframes bounceup {
		  0% { transform: translateY(2px); }
		  50% { transform: translateY(0px); }
		  100% { transform: translateY(-2px); }
		}
		@-webkit-keyframes bounceup {
		  0% { -webkit-transform: translateY(2px); }
		  50% { -webkit-transform: translateY(0px); }
		  100% { -webkit-transform: translateY(-2px); }
		}
		@-moz-keyframes bounceup {
		  0% { -moz-transform: translateY(2px); }
		  50% { -moz-transform: translateY(0px); }
		  100% { -moz-transform: translateY(-2px); }  
		}
		@-ms-keyframes bounceup {
		  0% { -ms-transform: translateY(2px); }
		  50% { -ms-transform: translateY(0px); }
		  100% { -ms-transform: translateY(-2px); }  
		}
		@-o-keyframes bounceup {
		  0% { -o-transform: translateY(2px); }
		  50% { -o-transform: translateY(0px); }
		  100% { -o-transform: translateY(-2px); }  
		}
		@keyframes bounce {
		  0% { transform: translateY(-2px); }
		  50% { transform: translateY(0px); }
		  100% { transform: translateY(2px); }
		}
		@-webkit-keyframes bounce {
		  0% { -webkit-transform: translateY(-2px); }
		  50% { -webkit-transform: translateY(0px); }
		  100% { -webkit-transform: translateY(2px); }
		}
		@-moz-keyframes bounce {
		  0% { -moz-transform: translateY(-2px); }
		  50% { -moz-transform: translateY(0px); }
		  100% { -moz-transform: translateY(2px); }  
		}
		@-ms-keyframes bounce {
		  0% { -ms-transform: translateY(-2px); }
		  50% { -ms-transform: translateY(0px); }
		  100% { -ms-transform: translateY(2px); }  
		}
		@-o-keyframes bounce {
		  0% { -o-transform: translateY(-2px); }
		  50% { -o-transform: translateY(0px); }
		  100% { -o-transform: translateY(2px); }  
		}
		#services{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#services.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#services ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#services ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#mission{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
			
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#mission.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#mission ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#mission ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#historyDiv{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#historyDiv.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#historyDiv ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#historyDiv ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#other{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		  
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#other.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#other ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#other ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#contact{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		  
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#contact.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#contact ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#contact ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#lineThrough{
		  width: 100%;
		  height: 2px;
		  background: black;
		  position: relative;
		  top: 50%;
		  left: 50%;
		  margin-right: -50%;
		  transform: translate(-50%, -50%);
		}
/*Starting Display*/
#frontDisplay{
  width: 80%;
  height: 0;
  background: rgba(190, 196, 246, .7);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
  transition: .5s;
}
	#frontDisplay h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	#frontDisplay h2{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
#frontDisplay.open{
  height: 80%;
  transition: .5s;
  border-radius: 5px;
}
			
/*Hidden Content*/
.servicesInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.servicesInfo.open{
  height: 50vh;
  background-color: rgba(190, 196, 246, .7);
  border-radius: 5px;
}
	#servicesTab1{
	  left: 22.5%;
	}
	#servicesTab2{
	  left: 36.25%;
	}
	#servicesTab3{
	  left: 50%;	
	}
	#servicesTab4{
	  left: 63.75%;
	}
	#servicesTab5{
	  left: 77.5%;
	}
	.servicesInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.servicesInfo p{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;	
	}
.missionInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.missionInfo.open{
  height: 40vh;
  background-color: rgba(190, 196, 246, .7);
  white-space: normal;
  overflow: auto;
  border-radius: 5px;
}
	#missionTab1{
	  left: 22.5%;
	}
	#missionTab2{
	  left: 36.25%;
	}
	#missionTab3{
	  top: 30%;
	  left: 50%;
	  width: 40vw;
	}
	#missionTab3.open{
	  height: 20vh;
	}
		#missionTab3 h1{
		  text-align: center;
	      font-family: 'Fjalla One', sans-serif;
		  padding-top: 3vh;
		  word-spacing: 3vw;
		}
		#missionTab3 p{
		  text-align: center;
		}
	#missionTab4{
	  left: 63.75%;
	}
	#missionTab5{
	  left: 77.5%;
	}
		#missionTab5 li{
		  display: block;
		  font-family: 'Share Tech Mono', sans-serif;
		  padding: 5px;
		  list-style-type: decimal;
		}
	.missionInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.missionInfo p{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;	
	}
.historyInfo{
  width: 20vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.historyInfo.open{
  height: 30vh;
  background-color: rgba(190, 196, 246, .7);
  white-space: normal;
  overflow: auto;
  border-radius: 5px;
}
	#historyTab1{
	  top: 40%;
	  left: 22.5%;
	}
	#historyTab2{
	  top: 75%;
	  left: 36.25%;
	  border: 5px;
	}
	#historyTab3{
	  top: 40%;
	  left: 50%;
	}
	#historyTab4{
	  top: 75%;
	  left: 63.75%;
	}
	#historyTab5{
	  top: 40%;
	  left: 77.5%;
	  text-align: center;
	}
	.historyInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.historyInfo p{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;	
	}
.contactInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.contactInfo.open{
  height: 40vh;
  background-color: rgba(190, 196, 246, .7);
  border-radius: 5px;
  white-space: normal;
  overflow: auto;
}
	#contactTab1{
	  left: 22.5%;
	}
	#contactTab2{
	  left: 36.25%;
	}
	#contactTab3{
	  top: 85%;
	  left: 50%;
	  width: 40vw;
	}
	#contactTab3.open{
	  height: 20vh;
	}
	#contactTab4{
	  left: 63.75%;
	}
	#contactTab5{
	  left: 77.5%;
	}
	.contactInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.contactInfo h1{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.contactInfo p{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;
	  text-align: center;	  
	}
	.contactInfo li{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  list-style-type: decimal;
	}
.otherInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 60%;
  margin-right: -50%;
  transform: translate(-50%, -50%);	
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.otherInfo.open{
  height: 50vh;
  background-color: rgba(190, 196, 246, .7);
  border-radius: 5px;
}
	#otherTab1{
	  left: 22.5%;
	}
	#otherTab2{
	  left: 36.25%;
	}
	#otherTab3{
	  left: 50%;
	}
	#otherTab4{
	  left: 63.75%;
	}
	#otherTab5{
	  left: 77.5%;
	}
	.otherInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	  line-height: 200%;
	}
	.otherInfo h5{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	  padding-top: 3vh;
	}
	.otherInfo p{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  line-height: 100%;	
	  text-align: center;
	}
