:root{
  --boxColor: rgba(220,220,220, .7);
  --textColor: rgba(0,0,0, .9);
  --menuColor: rgb(0,0,0);
}
@media (min-width: 768px){
*{
  padding: 0;
  margin: 0;
  border: 0;
}
#mainPage{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
/*Header*/
#headerWrapper{
  height: 15vh;
  overflow: hidden;
}
	#pageBrand{
	  display: relative;
	  transform: translateX(10vw);
	  float: left;
	}
	#pageBrand:hover{
	  cursor: default;
	}
	#pageBrand h1{
	  padding-top: 5vh;
	  font-family: 'Exo 2', sans-serif;
	}
	#pageLogo{
	  display: relative;
	  float: left;
  	  max-width: 5%;
  	  padding-top: 5vh;
	  transform: translateX(10vw);
	}

/*Content*/

#contentWrapper{
  min-height: 80vh;
  overflow: hidden;
  white-space: nowrap;
}	
	/*Left*/
	#leftWrapper{
	  min-height: 85vh;
	  width: 10vw;
	  position: relative;
	  float: left;
	  display: inline;
	  overflow: hidden;
	}
		#mainMenu{
		  list-style: none;
		}
		#mainMenu li {
		  height: 10vh;
		  padding-top: 10vh;
		  padding-bottom: 5vh;
		  white-space: nowrap; 
		}
		.menuLabel{
		  color: var(--menuColor);
		  font-size: 10px;
		  text-align: center;
		  min-width: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		  border-bottom: 1px solid black;
		  
		  -webkit-transform: translateX(100%);
		  -moz-transform: translateX(100%);
		  -ms-transform: translateX(100%);
		  -o-transform: translateX(100%);
		  transform: translateX(100%);
		  transition: .75s;
		}
		.menuLabel.expanded{
		  -webkit-transform: translateX(0%);
		  -moz-transform: translateX(0%);
		  -ms-transform: translateX(0%);
		  -o-transform: translateX(0%);
		  transform: translateX(0%);
		  cursor: default;
		}
		.menuButton{
		  float: right;
		}
		
		.glyphicon-cog{
			  -webkit-animation: spin 6s linear 0s infinite reverse;
			  -moz-animation: spin 6s linear 0s infinite reverse;
			  -ms-animation: spin 6s linear 0s infinite reverse;
			  -o-animation: spin 6s linear 0s infinite reverse;
			  animation: spin 6s linear 0s infinite reverse;
			  
			  -webkit-animation-play-state: play;
			  -moz-animation-play-state: play;
			  -ms-animation-play-state: play;
			  -o-animation-play-state: play;  
			  animation-play-state: play;
		}
			@keyframes spin {
			  0% { transform: rotate(360deg); }
			  100% { transform: rotate(0deg); }
			}
			@-webkit-keyframes spin {
			  0% {-webkit-transform: rotate(360deg); }
			  100% { -webkit-transform: rotate(0deg); }
			}
			@-ms-keyframes spin {
			  0% {-ms-transform: rotate(360deg); }
			  100% { -ms-transform: rotate(0deg); }
			}
			@-moz-keyframes spin {
			  0% { -moz-transform: rotate(360deg); }
			  100% { -moz-transform: rotate(0deg); }
			}
			@-o-keyframes spin {
			  0% { -o-transform: rotate(360deg); }
			  100% { -o-transform: rotate(0deg); }
			}
		
	/*Center*/
	#centerWrapper{
	  min-height: 85vh;
	  padding-left: 0;
	  padding-right: 0;
	  position: relative;
	  float: left;
	  min-width: 80vw;
	  display: inline;
	}

	#centerWrapper div ul{
	  background: url('img/sand3.png');
	  background-repeat: repeat;
	  background-position: center;
	  background-size: cover;
	  overflow: hidden;
	}

		#services{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#services.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#services ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#services ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#mission{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
			
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#mission.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#mission ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#mission ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#historyDiv{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#historyDiv.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#historyDiv ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#historyDiv ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#other{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		  
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#other.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#other ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#other ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#contact{
		  margin-top: 10vh;
		  width: 0%;
		  height: 5vh;
		  
		  -webkit-transition: width 1s;
		  transition: width 1s;
		}
			#contact.open{
			  width: 100%;
			  -webkit-transition: width 1s;
			  transition: width 1s;
			}
			#contact ul{
			  padding-top: 1vh;
			  list-style: none;
			}
			#contact ul li{
			  display: inline;
			  padding-left: 12vw;
			}
		#lineThrough{
		  width: 100%;
		  height: 2px;
		  background: black;
		  position: relative;
		  top: 50%;
		  left: 50%;
		  margin-right: -50%;
		  transform: translate(-50%, -50%);
		}
	.text{
	  color: var(--textColor);
	}
			
/*Hidden Content*/
.servicesInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.servicesInfo.open{
  height: 50vh;
  background-color: var(--boxColor);
  border-radius: 5px;
  white-space: normal;
  overflow: hidden;
}
	#servicesTab1{
	  left: 22.5%;
	}
	#servicesTab2{
	  left: 36.25%;
	}
	#servicesTab3{
	  left: 50%;	
	}
	#servicesTab4{
	  left: 63.75%;
	}
	#servicesTab5{
	  left: 77.5%;
	}
	.servicesInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.servicesInfo div{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;	
	}
.missionInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.missionInfo.open{
  height: 40vh;
  background-color: var(--boxColor);
  white-space: normal;
  overflow: hidden;
  border-radius: 0px;
}
	#missionTab1{
	  left: 22.5%;
	}
	#missionTab2{
	  left: 36.25%;
	}
	#missionTab3{
	  top: 30%;
	  left: 50%;
	  width: 40vw;
	}
	#missionTab3.open{
	  height: 23vh;
	}
		#missionTab3 h1{
		  text-align: center;
	          font-family: 'Fjalla One', sans-serif;
		  padding-top: 0vh;
		  word-spacing: 2vw;
		}
		#missionTab3 div{
		  text-align: center;
		}
	#missionTab4{
	  left: 63.75%;
	}
	#missionTab5{
	  left: 77.5%;
	}
		#missionTab5 li{
		  display: block;
		  font-family: 'Share Tech Mono', sans-serif;
		  padding: 5px;
		  list-style-type: decimal;
		}
	.missionInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.missionInfo div{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;	
	}
.historyInfo{
  width: 20vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.historyInfo.open{
  height: 30vh;
  background-color: var(--boxColor);
  white-space: normal;
  overflow: hidden;
  border-radius: 5px;
}
	#historyTab1{
	  top: 40%;
	  left: 22.5%;
	}
	#historyTab2{
	  top: 75%;
	  left: 36.25%;
	  border: 5px;
	}
	#historyTab3{
	  top: 40%;
	  left: 50%;
	}
	#historyTab4{
	  top: 75%;
	  left: 63.75%;
	}
	#historyTab5{
	  top: 40%;
	  left: 77.5%;
	  text-align: center;
	}
	.historyInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.historyInfo div{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;	
	}
.contactInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.contactInfo.open{
  height: 40vh;
  background-color: var(--boxColor);
  border-radius: 5px;
  white-space: normal;
  overflow: hidden;
}
	#contactTab1{
	  left: 22.5%;
	}
	#contactTab2{
	  left: 36.25%;
	}
	#contactTab3{
	  top: 85%;
	  left: 50%;
	  width: 40vw;
	}
	#contactTab3.open{
	  height: 20vh;
	}
	#contactTab4{
	  left: 63.75%;
	}
	#contactTab5{
	  left: 77.5%;
	}
	.contactInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.contactInfo h1{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	}
	.contactInfo p{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  line-height: 200%;
	  text-align: center;	  
	}
	.contactInfo li{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  padding: 5px;
	  list-style-type: decimal;
	}
.otherInfo{
  width: 12vw;
  background-color: rgba(50, 50, 50, .7);
  position: absolute;
  top: 60%;
  margin-right: -50%;
  transform: translate(-50%, -50%);	
  transition: .5s;
  height: 0;
  overflow: hidden;
}
.otherInfo.open{
  height: 50vh;
  background-color: var(--boxColor);
  border-radius: 5px;
  overflow: hidden;
}
	#otherTab1{
	  left: 22.5%;
	}
	#otherTab2{
	  left: 36.25%;
	}
	#otherTab3{
	  left: 50%;
	}
	#otherTab4{
	  left: 63.75%;
	}
	#otherTab5{
	  left: 77.5%;
	}
	.otherInfo h4{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	  line-height: 200%;
	}
	.otherInfo h5{
	  text-align: center;
	  font-family: 'Fjalla One', sans-serif;
	  padding-top: 2vh;
	}
	.otherInfo p{
	  display: block;
	  font-family: 'Share Tech Mono', sans-serif;
	  line-height: 100%;	
	  text-align: center;
	}
.textContent{
	  font-size: 1vw;
	  position:absolute;
	  transform: transtlateY(0);
	  transition: 20s;
}
.servicesInfo:hover div{
	  transform: translateY(calc(-200px - 100%));
}
.missionInfo:hover div{
	  transform: translateY(calc(-200px - 100%));
}
.historyInfo:hover div{
	  transform: translateY(calc(-200px - 100%));
}
.contactInfo:hover div{
	  transform: translateY(calc(-200px - 100%));
}	

#smallContent{
  display: none;
}
}

@media(max-width: 767px){
*{
  padding: 0;
  margin: 0;
  border: 0;
}
/*Header*/
#headerWrapper{
  height: 15vh;
  overflow: hidden;
}
	#pageBrand{
	  display: relative;
	}
	#pageBrand:hover{
	  cursor: default;
	}
	#pageBrand h1{
	  display: absolute;
	  padding-top: 10vh;
	  transform: translate(10%, -50%);
	  font-family: 'Exo 2', sans-serif;
	}


/*Content*/
#smallLogo{
  max-width: 10vw;
  float: left;
  display: relative;
  transform: translateY(-3vh);
}
#smallBrand{
  display: relative;
  float: left;
  font-family: 'Exo 2', sans-serif;
  transform: translateY(-3vh);
}
#contentWrapper{
  display: none;
}
#mainPage{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}	
#smallContent button{
  font-family: 'Fjalla One', sans-serif;
  padding-left: 2vw;
}
#smallContent li{
  list-style-type: none;
  font-family: 'Share Tech Mono', sans-serif;
  margin-left: 4vw;
  padding: 3px;
}
#smallContent ol li{
  list-style-type: decimal;
  font-family: 'Share Tech Mono', sans-serif;
  margin-left: 4vw;
  padding: 5px;
}
.accordion{
  background-color: rgba(190, 196, 246, .7);
  width: 100%;
  height: 10vh;
  text-align: left;
  font-size: 150%;
  transition: 0.3s ease-out;
}
.active, .accordion:hover{
  background-color: rgba(190, 230, 246, .7);
}
.content{
  display: none;
  overflow: hidden;
}
.content.active{
  display: block;
}	
}
